@import url("https://v1.fontapi.ir/css/Vazir");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, system-ui;
}

body {
  background-color: #f3f4f6;
}

@layer base {
  body {
    @apply bg-[#f3f4f6];
    @apply dark:bg-slate-800 dark:text-gray-200 bg-[#f3f4f6] text-gray-800;
  }
}
